.img-fluid {
    border-radius: 10px;
}

.text-primary {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.list-group-item {
    background-color: #f9f9f9;
    border: none;
    margin-bottom: 5px;
}

.btn {
    border-radius: 20px;
    font-size: 1rem;
}
