.card {
  background-color: #323232;
  margin-top: 30px
}

/* Home.css */
.product-card {
  border: 1px solid #323232;
  border-radius: 30px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #323232;
}

/* Home.css */

/* Xóa gạch chân cho các thẻ liên kết bên trong thẻ Card */
.product-card a {
  text-decoration: none;
  color: inherit;
  /* Đảm bảo màu sắc của văn bản không thay đổi */
}

.product-card a:hover {
  text-decoration: none;
  color: inherit;
  /* Đảm bảo màu sắc của văn bản không thay đổi khi hover */
}

/* Home.css */
.product-name {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  font-size: 0.9rem;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin: 10px 0;
  text-align: center;
}

.product-card:hover {
  transform: translateY(0px);
  box-shadow: 100 40px 8px rgba(255, 255, 255, 0.1);
}

.product-card .card-img-top {
  transition: transform 0.3s;
  object-fit: cover;
  /* Đảm bảo hình ảnh không bị méo */
  margin-bottom: 50px;
  background-color: #323232;
}

.product-card:hover .card-img-top {
  transform: scale(1.1);
}

.product-card-info {
  padding: 10px;
  text-align: center;
}

.product-card-info h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.product-card-info p {
  color: #ff6f61;
  font-size: 1rem;
  margin: 0;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-caption h3,
.carousel-caption p {
  background-color: rgba(0, 0, 0, 0.5);
  /* Nền mờ cho văn bản trong carousel */
  padding: 10px;
  border-radius: 5px;
}

.discount-logo {
  position: absolute;
  top: -10px; /* Khoảng cách từ trên xuống */
  left: 230px; /* Khoảng cách từ trái sang */
  z-index: 10; /* Đảm bảo logo nằm trên các phần tử khác */
}

.discount-logo img {
  width: 150px; /* Kích thước logo */
  height: auto;
}